*~
*.[oa]
INSTALL
Makefile
Makefile.in
aclocal.m4
config.h
config.in
config.log
config.status
configure
maint.mk
stamp.h*
*.cache
src/.libs
src/.deps
src/hello
po/.reference
po/*.gmo
po/POTFILES
po/messages
po/stamp-po
po/*.pot
man/hello.1
doc/*.aux
doc/*.dvi
doc/*.info*
doc/*.log
doc/*.pdf
doc/*.toc
doc/hello.??
doc/hello.??s
doc/stamp-vti
doc/wwwtemp
lib
m4
hello-*.tar.*
stamp-h1
.sc-start-sc*
