[DEFAULT]
verbose = True

[project]
source = cvs:source
target = bzr:target
root-directory = /home/rrt/repo/tmp
subdir = .
state-file = tailor.state
start-revision = INITIAL

[cvs:source]
repository = :ext:rrt@cvs.savannah.gnu.org:/sources/hello
module = hello

[bzr:target]
repository = file:///home/rrt/repo/hello-bzr2
module = trunk

